<div class="container">
  <div class="card border border-info">
    <div class="card-header text-center bg-info">Liste de produits</div>
    <div class="card-body">
      <form #f="ngForm" (ngSubmit)="onSearchProduct(f.value)">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <label name="keyword">Keyword</label>
            <input name="keyword" type="text" ngModel="">
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
          </div>
          <div class="col-3">
            <a class="dropdown-item" routerLink="new-product">Ajouter</a>
          </div>
        </div>
      </form>
      <div class="card-body">
        <table *ngIf="productsList"  class="table table-striped">
          <thead>
          <th>ID</th>
          <th>Des</th>
          <th>Price</th>
          <th>Qté</th>
          </thead>
          <tbody *ngFor="let p of productsList._embedded.products">
          <td>{{p.id}}</td>
          <td> {{p.designation}}</td>
          <td> {{p.price}}</td>
          <td>{{p.quantity}}</td>
          <td> <a class="btn btn-danger btn-sm" (click)="onDeleteProduct(p)">delete</a></td>
          <td> <a class="btn btn-success btn-sm" (click)="onEditProduct(p)">edit</a></td>
          </tbody>
        </table>
        <div *ngIf="pages">
          <nav class="nav nav-pills">
                <a [ngClass]="i==currentPage? 'active' : '' " class=" clickable nav-link" *ngFor="let p of pages; let i = index" (click)="onCurrentPage(i)">
                  {{i}}</a>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
